/* header */
header{
    position: relative;
    background-color: rgb(58, 150, 280);
    width: 100%;
    height: 180px;
}

header img{
    width: 180px;
    height: auto;
    position: absolute;
    top: 0;
    left: 20px;
  }

header div{
    position: absolute;
    bottom: 20px;
    left: 20%;
}

header div a{
    margin-right: 40px; 
    font-size: 25px;
    color: white;
    text-decoration: none;        
}

#roguin{
    position: absolute;
    right: 3%;
    bottom: 20px;
    background-color: rgb(234, 224, 224);
    font-size: 30px;
    padding: 20px;
}


/*ヘッダー下背景(windowsとmacのロゴ) */
#img_wiondosMac{
    width: 100%;
    height: auto;
    display: block;
}


/* サービス一覧セクション */
.index_h1{
    font-size: 58px;
    letter-spacing: 30px;
    text-align: center;
    color: #5e7fef;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(82, 202, 112);
    font-weight: bold;
}

#service{
    background-color: white;
    margin-top: 40px;
}

.h2_1{
    color: #1717be;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
}

table {
    margin: 20px auto;
    top: 200px;
    width: 85%;
    border-collapse: collapse
}

table img{
    width: 250px;
    height: auto;
}

td {
    border: 2px solid blue; 
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    font-size: 2.2vw;
    padding: 10px;
  }

  .service_column{
    text-align: left;
  }
  
th {
    background-color: #5873e0; 
    border: 2px solid rgb(255, 255, 255); 
    color: white; 
    font-size: 2vw;
    padding: 7px;
    font-weight:normal
  }

#th2{
    width: 40%;
}
  
table img{
    object-fit: contain; 
    max-height: 150px;
    width: auto;
    max-width: 100%; 
}

  /* 入力フォームのセクション */
#form{
    background-color: #4180e5;
    position: relative;
    height: 680px;
}

.h2_2{
    text-align: center;
    color:white;
    font-size: 45px;
    font-weight:normal;
    padding:20px;
    margin-bottom: 20px;  
}

.form_top{
    position: absolute; 
    right:30%;
    width:60%; 
}

.input-group {
    display: flex; 
    margin-bottom: 20px; 
    justify-content: center;
    height: 35px;
}

#message{
    height: 200px;
}

label {
    flex: 1.5; 
    text-align: center; 
    min-width: 100px;
    color: white;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    flex: 3; 
}

#bottan{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom:15px;
    font-size: 40px;
    padding: 10px 80px; 
    cursor: pointer; 
    background-color: #9fabdc;
    border-radius: 20px; 
    color: white;
    border: none; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);    
    z-index: 1000;
}


/* 空白（白背景)のセクション */
.section4{
    background-color: white;
    height: 50px;   
}


/* footer */
footer{
    position: relative;
    background-color: #34b3f4;
    height: 150px;
}

address{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: normal;
}


/* mail関連ページ */
.mail_h2{
    font-size: 40px;
    color: #1717be;
    padding: 20px;
}

.mail_p{
    font-size: 20px;
    margin: 10px;
}

.mail_button{
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: 2px solid #000; 
    background-color: #fff; 
    cursor: pointer; 
    outline: none; 
    background-color: #c7cee8;
    margin: 10px;
}



/* 管理ページ */
.table_manage {
    width: 95%;
    border-collapse: collapse
}

.manage_h1{
    font-size: 40px;
    color: #3830da;
    font-weight: bolder;
    margin: 30px 0 0 10px;
}

.manage_h2{
    font-size: 35px;
    color: #3830da;
    margin-left: 30px;
}

.input_gray,.input_gray2{
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box; 
    height: 60px;
    font-size: 20px;
}

.input_gray2{
    height: 120px;
    vertical-align: top;
}

.input_gray3{
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    padding: 8px; 
    width: 95%; 
    box-sizing: border-box; 
    height: 80px;
    border-radius: 10px; 
    cursor: pointer;
}

.input_gray4{
    background-color: #dbd8d8; 
    border: 1px solid #ddd; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box; 
    height: 80px;
    border-radius: 10px; 
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

span{
    background-color: #dbd8d8; 
    padding: 30px; 
    width: 100%; 
    font-size: 2vw;
    margin: 0;
    white-space: nowrap; /* テキストが要素からはみ出た場合に改行を抑制 */
    overflow: hidden; /* 要素からはみ出た内容を隠す */
    text-overflow: ellipsis; 
}

#image_preview{
    padding: 5px;
}

#up_img{
        display: none
}

.apload_btn{
    background-color: #f0f0f0; 
    border: 1px solid #ddd; 
    padding: 0 2px; 
    width: 100%; 
    box-sizing: border-box; 
    color: #000;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.6vw;
}

.td_button{
    padding: 1px;
}

    

/* その他サービステーブル関連ページ*/
.f_button{
    background-color: #cfcbcb; /* 灰色の背景色 */
    padding: 20px; /* 内側の余白を設定 */
    cursor: pointer;
    font-size: 25px;
    display: inline-block;
    margin: 80px 0 40px 40px;
    border-radius: 10px;
}

.f_text{
    font-size: 25px;
    margin-left: 40px;
    margin-top: 80px;
}

.f_h2{
    font-size: 40px;
    color: #3830da;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.display header a{
 display: none
}
