/* header */

header{
    position: relative;
    background-color: rgb(58, 150, 280);
    background-size: 100%;
    padding: 20px;
    height: 150px;
}

header img{
    width: 15%;
    height: auto;
    position: absolute;
    top: 0;
    left: 20px;
  }

header div{
    position: absolute;
    bottom: 20px;
    left: 250px;
    font-size: 30px;
    color: white;
}

header div a{
        margin-right: 40px; /* 右側に100pxの余白を持たせる */
}

#roguin{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: rgb(234, 224, 224);
    font-size: 30px;
    padding: 20px;
}

h1{
    font-size: 58px;
    letter-spacing: 30px;
    text-align: center;
    color: #5e7fef;
}




/* サービス一覧 */

#service{
    background-color: white;
    background-size: 100%;
    height: 1500px;
    position: relative;
}



.h2_1{
    position: absolute;
    color: blue;
    font-size: 35px;
    left: 50px;
    top: 100px;

}

table {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    width: 85%;
    border-collapse: collapse
}

table img{
    width: 180px;
    height: auto;
}

td {
    border: 1px solid blue; /* 枠線を青色に */
    text-align: center; /* テキストを左揃えに */
    margin: 10px;
    font-size: 24px;
  }
  
th {
    background-color: blue; /* ヘッダーの背景色を青色に */
    border: 1px solid rgb(255, 255, 255); 
    color: white; /* ヘッダーのテキスト色を白に */
    font-size: 24px;
  }


  

  /* 問い合わせ */

#form{
    background-color: #4180e5;
}


.h2_2{
    text-align: center;
    color:white;
    font-size: 45px;
}


  .form-container {
    width: 80%; 
    max-width: 800px; 
    margin: 0 auto; 
}

.input-group {
    display: flex; 
    margin-bottom: 10px; 
    justify-content: center;
}

label {
    flex: 1; 
    margin-right: 20px; 
    text-align: center; 
    min-width: 100px;
    color: white;
}

input[type="text"],
input[type="email"],
select,
textarea {
    flex: 3; 
}

input[type="submit"] {
    margin-top: 20px; 
    font-size: 30px;
    padding: 10px 20px; 
    cursor: pointer; 
    
}


/* white */

.section4{
    background-color: white;
    height: 50px;
    
}

/* footer */

footer{
    position: relative;
    background-color: #34b3f4;
    height: 150px;
}

footer p {
    position: absolute;
    right: 40px;
    font-size: 20px;
    color: white;

}

